@media screen and (min-width: 700px) {
  .restaurant-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 900px) {
  .restaurant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
  .restaurant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Ukuran Mobile */
@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
    width: 120px;
    height: 44px;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    height: 44px;
    text-align: center;
    margin: 0;
  }

  .main-content__title {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}
